<ion-header color="primary">
  <ion-navbar>
    <ion-title>{{nameList}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card padding>
    <ion-card-header>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input [(ngModel)]="nameList" name="nameList" type="text"></ion-input>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Ítem</ion-label>
        <ion-input [(ngModel)]="nameItem" (keyup.enter)="addItem()" name="nameItem" type="text"></ion-input>
      </ion-item>
      <button ion-button color="primary" (click)="addItem()" outline block>Guardar</button>
    </ion-card-content>
  </ion-card>

  <h1 *ngIf="items.length > 0">Ítems agregados</h1>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <p>{{item.name}}</p>
      <button ion-button color="danger" item-right>
          <ion-icon ios="ios-trash" (click)="removeItem(i)" md="md-trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <button (click)="saveList()" ion-button color="primary" block>Agregar</button>

</ion-content>